<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading text-white">Learn & Improve without efforts</h2>
      <hr class="light">
      <p class="text-faded">
        Learning is fun and easy when done through something you like. Subtitre brings together the entertainment of watching a movie and the pleasure to learn a language.
      </p>
      <hr class="light">
      <p class="text-faded">
        Multiple levels of translations are available:<br/>
        - Beginner ? You can choose to translate almost all words<br/>
        - Almost Fluent ? We will only translate difficult words<br/>
      </p>
      <hr class="light">
      <p class="text-faded">
        Subtitre doesnt require any subscription whatsoever and is completely free !!
      </p>
      <%= render(partial: "subtitre/translate_btn", locals: { btn: 'btn-default' })%>
    </div>
  </div>
</div>
