<div class="header-content">
  <div class="header-content-inner">
    <h1 id="homeHeading">
      Learn a language while watching a movie
    </h1>
    <hr>
    <p>
      Subtitre helps you learn a foreign language by translating subtitles to your native language.
    </p>

    <%= render(partial: "subtitre/translate_btn", locals: { btn: 'btn-primary' })%>
  </div>
</div>
