<div class="container-fluid">
  <div class="row no-gutter">

    <div class="col-lg-4 col-sm-6">
      <a class="portfolio-box">
        <%= image_tag("portfolio/amelie.jpg", class: "img-fluid") %>
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              Amelie
            </div>
            <div class="project-name">
              French to English translations
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-sm-6">
      <a class="portfolio-box">
        <%= image_tag("portfolio/310_to_yuma.jpg", class: "img-fluid") %>
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              310 to Yuma
            </div>
            <div class="project-name">
              English to French translations
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-sm-6">
      <a class="portfolio-box">
        <%= image_tag("portfolio/intouchables.jpg", class: "img-fluid") %>
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              The intouchables
            </div>
            <div class="project-name">
              French to English translations
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
