<article class="message is-warning">
  <div class="message-body"  style="text-align: justify">
    <h1 class="question">Who ?</h1>
    <p>
      From as long as I can recall, I have always been fascinated with languages.</br>
      When I was young, I was amazed to see people communicate in languages I couldn't understand. I felt like magic to me. So who am I ? Just a guy amazed by the diversity of our world.
    </p>
    <br/>

    <h1 class="question">Why ?</h1>
    To me, there are two ways to learn:
    <p>
      <ul>
        <li>- The hard way where you force your brain to memorize through repetition and hard work.</li>
        <li>- The easy way, where you just do something you like without thinking about working.</li>
      </ul>
      <br/>
      I remember I use to naturaly memorize english words while playing video games. Nowadays, I mainly watch movies and tv shows. I think it unconsciously trains my ears and I keep learning new words and expressions</br>
      Even though it's helped improved my English a lot, I still stumble upon words and expressions that are completely new to me.</br>
      So I thought, rather than pausing my movie, browsing google to find a translation and finally resuming my movie, it would be so much more convenient if the translations were already displayed. </br>
      And that's how the idea of Subtitre came alive ! Learning through entertainment :-)
    </p>
    <br/>

    <h1 class="question">How do you pronounce "Subtitre" ?</h1>
    <p>
      For those of you who cannot speak french, Subtitre was actually taken from <b>sub</b>title and sous-<b>titre</b> which is the french way to say subtitle ;-) </br>
      So How do you pronounce it ? There is nothing more charming, funny and cute than accents so pronounce it the way you want :-)
    </p>

    <br/>

    <h1 class="question">What ?</h1>
    <p>
      <a href="http://github.com/matsumonkie/subtitre">Subtitre</a> is an open source project. Any remarks/advices/questions are welcome. You can reach me at this address : matsuhar (at) gmail.com
    </p>
  </div>
</article>
