<article class="message is-warning">
  <div class="message-body"  style="text-align: justify">
    <p>
      I have always been a big fan of foreign languages and to me, learning a language is always a lot of fun when done through entertainments.</br>
      I started learning few english words while playing video games then watching movies in original version and now mainly through novels.</br>
      I still enjoy watching tv shows and movies though. But even though it's a good way to train my ears, I still stumble upon words and expressions that are completely new to me.</br>
      So I thought, rather than pausing my movie, browsing google to find a translation and finally resuming my movie, it would be so much more convenient if the translations were already displayed in my movie. </br>
      And that's how the idea of Subtitre came alive !
    </p>
      </br>

      <p>
        For those of you who cannot speak french, Subtitre was actually taken from <b>sub</b>title and sous-<b>titre</b> which is the french way to say subtitle ;-) </br>
        So How do you pronunciate it ? There is nothing more charming, funny and cute than accents so pronunciate it the way you want :-)
      </p>

      </br>
      <p>
        Oh and by the way ! <a href="http://github.com/matsumonkie/subtitre">Subtitre</a> is an open source project !
      </p>
  </div>
</article>
