<div id="footer" class="hero-foot">
  <div class="container">
    <nav class="tabs is-fullwidth">
      <ul class="foo">
        <li><a></a></li>
        <li><a></a></li>
        <li><a></a></li>
        <li><a></a></li>
      </ul>
    </nav>
  </div>
</div>
