<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span id="logo">
        <b><u>Sub</u></b>(<i>titre</i>)
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenuExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/about">
        <%= I18n.t 'about' %>
      </a>
    </div>
  </div>
</nav>
