<header class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <span class="main-title">
          <u>Sub</u>(<i>titre</i>)
        </span>
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item">
        <%= I18n.t 'about' %>
      </a>
    </div>
  </div>
</header>
