<div class="call-to-action bg-dark">
  <div class="container text-center">
    <h2>Subtitre is Free !</h2>
    <%= render(partial: "subtitre/translate_btn", locals: { btn: 'btn-default' })%>
  </div>
</div>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Contact</h2>
        <hr class="primary">
        <p>
          Any advices or remarks regarding Subtitre ? A feature you would like to add or a bug you've noticed ?
          I'd love to hear from you so drop me an email :-)
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:matsuhar@gmail.com">matsuhar (at) gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
